<div class="contact">
  <div class="title-component text-center">
    <h3 class="section-title" translate="contactTitle"></h3>
    <p class="section-text" translate="contactPrompt"></p>
  </div>

  <div class="container-fluid g-5 contacme-custom">
    <!-- Formulario -->
    <form
      (ngSubmit)="
        myForm.valid &&
          onSubmit({ Name: name, EmailAddress: email, Body: body })
      "
      #myForm="ngForm"
    >
      <div class="row">
        <!-- Campo Nombre -->
        <div class="col-md-6 mb-3">
          <label
            for="nameInput"
            class="form-label"
            translate="contactName"
          ></label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="nameInput"
              placeholder="contact name"
              [(ngModel)]="name"
              name="name"
              required
            />
            <!-- Íconos de Redes Sociales junto al campo Nombre -->
            <span class="input-group-text">
              <a
                [href]="linkedinLink"
                target="_blank"
                rel="noopener noreferrer"
                class="me-2"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a [href]="githubLink" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
              </a>
            </span>
          </div>
        </div>

        <!-- Campo Correo Electrónico -->
        <div class="col-md-6 mb-3">
          <label
            for="emailInput"
            class="form-label"
            translate="contactEmail"
          ></label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="name@example.com"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
      </div>

      <!-- Área de Texto para el Mensaje -->
      <div class="mb-3">
        <label
          for="messageTextarea"
          class="form-label"
          translate="contactMessage"
        ></label>
        <textarea
          class="form-control"
          id="messageTextarea"
          rows="3"
          [(ngModel)]="body"
          name="body"
          required
        >
        </textarea>
      </div>

      <!-- Botón Enviar -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-dark"
          translate="contactCta"
        ></button>
      </div>
      <div *ngIf="showError" class="error-message">
        Por favor, completa todos los campos correctamente.
      </div>

      <div *ngIf="emailSent" class="d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div
            class="alert alert-success d-flex align-items-center my-2"
            role="alert"
          >
            <i class="fas fa-check-circle me-1"></i>
            <span translate="contactSend"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
