<!-- Footer -->
<footer class="footer-section bg-dark text-white py-4">
  <div class="container text-center">
    <div class="row">
      <!-- Sección de derechos reservados y agradecimiento -->
      <div class="col-md-6">
        <div class="d-flex mx-auto text-center justify-content-center">
          <p>&copy; 2023 |</p>
          <p class="mx-1" translate="footerThanks"></p>
        </div>
        <p>
          Limber Martinez - Developer Jr
          <i class="fas fa-code text-primary mx-1"></i>
        </p>
      </div>

      <!-- Sección de enlaces e íconos -->
      <div class="col-md-6 text-md-right text-center">
        <!-- Íconos de redes sociales -->
        <a [href]="linkedinLink" target="_blank" class="text-white mx-2">
          <i class="custom-icon fab fa-linkedin fa-2x"></i>
        </a>
        <a [href]="githubLink" target="_blank" class="text-white mx-2">
          <i class="custom-icon fab fa-github fa-2x"></i>
        </a>

        <!-- Mensaje "Hecho con" y tecnologías -->
        <p class="mt-2">
          <span translate="footerMake"></span>
          <i class="fas fa-heart text-danger mx-1"></i>
          <span translate="footerMake2"></span>
          <i class="fab fa-angular text-red mx-1"></i>&<i
            class="fab fa-bootstrap text-primary mx-1"
          ></i>
        </p>
      </div>
    </div>
  </div>
</footer>
