
@import 'src/styles/variables';
section{
background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('https://plus.unsplash.com/premium_photo-1682109363040-f87d77261afb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80');    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-color: primary;

}
.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.text-icon-dark {
    color: $icon-dark-color;

    &:hover {
        color: $icon-dark-hover;
    }
}


