
@import 'src/styles/variables';
section{
background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
   url('../../../assets/img/web1.webp');    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-color: primary;

}
.profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; /* Esto crea un marco redondo alrededor de la imagen */
    border: 1rem solid $dark-blue; /* Puedes personalizar el color del marco y el grosor */
}
.text-icon-dark {
    color: $icon-dark-color;

    &:hover {
        color: $icon-dark-hover;
    }
}
//mobile
@media (max-width: 768px) {
    .profile-picture {
        margin-top: 1rem;
        width: 200px;
        height: 200px;
    }
    .custom-icon{
        margin-top: 10rem;
    }
}


