@import './src/styles/_variables.scss';

.contact {
  background-color: $soft-grey;  // Añadir un fondo claro para contrastar con el tema oscuro.
  padding: $spacer * 3 0;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  .title-component {
    margin-bottom: $spacer * 2;

    .section-title {
      color: $headings-color-dark;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      margin-bottom: $spacer;
    }

    .section-text {
      color: $dark-blue;
      font-weight: $font-weight-light;
    }
  }

  form {
    // Agregamos espacio para evitar que los elementos estén demasiado pegados.
    padding: $spacer * 2;
    background: $white;  // Fondo blanco para el formulario para mejor legibilidad.
    border-radius: $card-border-radius;

    label {
      color: $dark-blue;
      font-weight: $font-weight-bold;
    }

    .input-group-text {
      background: transparent;
      border-left: none;

      a {
        color: $icon-dark-blue-color;

        &:hover {
          color: $icon-dark-blue-hover;
        }
      }
    }

    .form-control {
      border-color: $tertiary;

      &:focus {
        border-color: $burnt-orange;
        box-shadow: 0 0 0 0.2rem rgba($burnt-orange, 0.25);
      }
    }

    button.btn {
      background-color: $dark-blue;
      color: $white;
      border: none;

      &:hover {
        background-color: lighten($dark-blue, 10%);
      }
    }
  }
}


