// === PALETA DE COLORES ===
$black: #000;
$dark-blue: #14213d;
$burnt-orange: #fca311;
$soft-grey: #e5e5e5;
$white: #fff;

// Colores Principales
$primary: $dark-blue;
$secondary: $burnt-orange;
$tertiary: $soft-grey;
$dark-theme: $black;
$light-theme: $white;

// === CONTRASTES PARA TEMAS OSCURO Y CLARO ===
$dark-text: $white;
$light-text: $dark-blue;

// === TIPOGRAFÍA ===
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.6;

$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.3;
$headings-color-dark: $dark-text;
$headings-color-light: $light-text;

// === ESPACIADO Y DIMENSIONES ===

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
);
$section-margin: $spacer * 4;
// === BOTONES ===
$btn-font-weight: $font-weight-bold;
$btn-transition: all 0.3s ease-in-out;

// Botón Tema Oscuro
$btn-dark-bg: $dark-theme;
$btn-dark-border: darken($dark-theme, 10%);
$btn-dark-text: $dark-text;
$btn-dark-hover-bg: lighten($dark-theme, 10%);

// Botón Tema Claro
$btn-light-bg: $light-theme;
$btn-light-border: darken($light-theme, 10%);
$btn-light-text: $light-text;
$btn-light-hover-bg: darken($light-theme, 5%);

// === ICONOS ===
$icon-size-base: 1rem;
$icon-size-lg: 1.5rem;
$icon-size-xl: 2rem; 
$icon-orange-color: $burnt-orange;
$icon-dark-color: $dark-theme;
$icon-dark-hover: $dark-text;
$icon-light-color: $light-theme;
$icon-light-hover: $light-text;
$icon-dark-blue-color: $dark-blue; 
$icon-dark-blue-hover: lighten($burnt-orange, 10%);

// === TARJETAS ===
$card-border-radius: 0.5rem;
$card-shadow: 0 4px 6px rgba($black, 0.1);
$card-dark-bg: $dark-theme;
$card-dark-text: $dark-text;
$card-light-bg: $light-theme;
$card-light-text: $light-text;

// === OTROS COMPONENTES ===
// Aquí puedes continuar agregando componentes específicos y personalizaciones para cada uno...

