@import './src/styles/variables';

.custom-card{
  height: 100%!important;
}

.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.custom-icon {
  margin-top: 1rem;
}
.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

//mobile
@media (max-width: 768px) {
  .card img {
    height: 50vw;
  }

}
