@import 'src/styles/variables';

.cookie-banner {
  background-color: $primary;
  color: $dark-text;
  padding: $spacer;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border: 0.5rem solid $secondary;
}

.cookie-banner a {
  color: $secondary;
}

.cookie-banner button {
  margin-left: $spacer;
}

.btn-primary {
  background-color: $secondary;
  border-color: darken($secondary, 10%);
  color: $dark-text;

  &:hover {
    background-color: lighten($secondary, 10%);
  }
}

.btn-secondary {
  background-color: $tertiary;
  border-color: darken($tertiary, 10%);
  color: $primary;

  &:hover {
    background-color: darken($tertiary, 5%);
  }
}
