@import './src/styles/_variables.scss';

.cv-download-container {
    background-color: $primary; 
    border-radius: $card-border-radius;
    padding: $spacer;
    color: $dark-text;
    margin: 0 auto; 
    max-width: 800px; 
    box-shadow: 0px 4px 6px rgba($black, 0.1);
    
    .cv-download {
        border: 2px solid $secondary; 
        padding: $spacer; 
        border-radius: $card-border-radius;

        .cv-text {
            color: $white;
        }
        
        .btn-cv {
            background-color: $secondary; 
            border-color: darken($secondary, 10%);
            color: $dark-text;

            &:hover {
                background-color: lighten($secondary, 5%);
                border-color: darken(lighten($secondary, 5%), 10%);
            }
        }
    }
}
