<section class="container my-5">
  <div class="row justify-content-center align-items-center">
    <!-- Card centrada -->
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-body">
          <!-- Iconos relacionados con el proyecto -->
          <div class="mb-4">
            <i class="fab fa-html5 fa-2x text-white"></i>
            <i class="fab fa-css3-alt fa-2x text-white mx-4"></i>
            <i class="fab fa-angular fa-2x text-white"></i>
            <a
              href="https://github.com/limbpuma/portfolio"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="custom-icon fab fa-github fa-2x mx-4" text-white></i>
            </a>

            <!-- Agrega otros iconos relacionados con el proyecto aquí -->
          </div>
          <!-- Título del proyecto -->
          <h2 class="card-title" translate="titleThisProject"></h2>
          <!-- Descripción del proyecto -->
          <p class="card-text" translate="decriptionThisProject"></p>
        </div>
      </div>
    </div>
  </div>
</section>
