// Importación de las variables
@import './styles/variables'; 

// Estilos globales
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    background-color: $dark-blue;
    color: $dark-text;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin: 0 0 $spacer;
}

// Ejemplos de tamaños de fuente personalizados para los encabezados
h1 {
    font-size: 2rem; // Tamaño más grande para h1
}

h2 {
    font-size: 1.8rem; // Tamaño más grande para h2
}

h3 {
    font-size: 1.6rem; // Tamaño más grande para h3
}

// Navegación
nav {
  background-color: darken($primary, 10%);
  a {
    color: $dark-text;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $burnt-orange;
    }
  }
}

// Cabecera
header {
  background-color: $primary;
  color: $dark-text;
  padding: $spacer * 2;
}

// Títulos de sección
.card-section, .projects-section {
  background-color: $dark-blue;  // Fondo oscuro
  
  .section-title, .section-text {
    color: $white;  // Texto claro
  }
}

.aboutme-section, .contact {
  background-color: $white;  // Fondo claro
  
  .section-title, .section-text {
    color: $dark-blue;  // Texto oscuro
  }
}

// Ajustes generales para .section-title y .section-text
.section-title {
  font-size: 2rem;
  margin-bottom: $spacer;
  text-align: center;
}

.section-text {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: $spacer * 2;
}

// Tarjetas
.card {
  background-color: $card-dark-bg;
  color: $card-dark-text;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba($black, 0.2);  
  }

  .card-title {
    letter-spacing: 0.05em;
  }
}

// Botones
.btn-dark, .btn-light {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  &:hover, &:focus {
    color: $white;
  }
}

// Iconos
.card-section i {
  transition: color 0.3s ease;
  color: white;

  &:hover {
    color: $burnt-orange;
  }
}

.projects-section .fa, .fas, .fab {
  color: $black;
  transition: color 0.3s ease;

  &:hover {
    color: $burnt-orange;
  }
}

// Pie de página
footer {
  margin-top: $section-margin;
  background-color: darken($primary, 15%);
  color: $soft-grey;
  padding: $spacer;
  a {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $burnt-orange;
    }
  }
}

// Márgenes para secciones específicas
.card-section,
.aboutme-section,
.projects-section,
.contact-section,
.cv-download-container {
  margin: $section-margin auto;
  text-align: center;
}

// Contacto
.contact {
  background-color: $soft-grey;  // Añadir un fondo claro para contrastar con el tema oscuro.
  padding: $spacer * 3 0;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  form {
    // Agregamos espacio para evitar que los elementos estén demasiado pegados.
    padding: $spacer * 2;
    background: $white;  // Fondo blanco para el formulario para mejor legibilidad.
    border-radius: $card-border-radius;

    label {
      color: $dark-blue;
      font-weight: $font-weight-bold;
    }

    .input-group-text {
      background: transparent;
      border-left: none;

      a {
        color: $icon-dark-blue-color;

        &:hover {
          color: $icon-dark-blue-hover;
        }
      }
    }

    .form-control {
      border-color: $tertiary;

      &:focus {
        border-color: $dark-blue;
        box-shadow: 0 0 0 0.2rem rgba($dark-blue, 0.25);
      }
    }

    button.btn {
      background-color: $dark-blue;
      color: $white;
      border: none;

      &:hover {
        background-color: lighten($dark-blue, 10%);
      }
    }
  }
}

// Media queries
@media (max-width: 768px) {
  header, footer {
    padding: $spacer;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 1rem;
  }
}
